.cyclecountainer{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    width: 100%;
}

.cycleradios{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.cyclecontainer{
    display: flex;
    /* gap: 20px; */
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}


.cyclewrapper{
    padding: 20px;
}
.cycle{
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
}
.continue_button{
    background-color:#1877d2;
    color: white;
    font-family: "poppins";
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.378);
    border-radius: 12px;
    cursor: pointer;
}
.button-container{
    display: flex;
    justify-content: flex-end;
    padding: 10px 49px;
}
.radiobuttons{
    display: flex;
    gap: 50px;
    width: 70%;
}
.inputcontainer input{
    border: 1px solid #8080804f;
    border-radius: 12px;
    padding: 7px;
}
.inputcontainer {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 70%;
}
.labels{
    width: 30%;
}
.heading-container{
    padding: 20px;
}
label{
    display: flex;
    gap: 16px;
}
.input-wrapper{
    display: flex;
    justify-content: space-between;
  
    width: 70%;
}