.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1877d2;
    padding: 10px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    
    height: 50px;
  
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-user {
    display: flex;
    align-items: center;
  }
  
  .navbar-icon {
    margin-right: 5px;
    font-size: 20px;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .username {
    margin-right: 10px;
    color: white;
  }