body {
  box-sizing: border-box;
  margin: 0;
}
.dash-board_container{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navbar {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1877d2;
  padding: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-user {
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 5px;
  font-size: 20px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.username {
  margin-right: 10px;
  color: white;
}

.sidebar {
  width: 20%;
  height: 100%;
  background-color: #ffffff;
  padding: 10px;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
}

.search-icon {
  color: #aaa;
  margin-right: 5px;
}

.links a {
  display: block;
  padding: 8px 0;
  text-decoration: none;
  color: #333;
}

.links a:hover {
  background-color: #f2f2f2;
}

.links {
  height: 100%;
  overflow-y: auto;
}

.links::-webkit-scrollbar {
  width: 8px;
  background-color: #f2f2f2;
}

.links::-webkit-scrollbar-thumb {
  background-color: #2074d4;
  border-radius: 4px;
}

.links::-webkit-scrollbar-thumb:hover {
  background-color: #2074d4;
}

.sidebar-container {
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
}
.container-personalize {
  flex: 1;
  display: flex;
  height: 100%;
}
.wrapper-right,.wrapper-right form{
  height: 100%;
}

.content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.dash-right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.pathname h3 {
  margin: 0;
  font-size: 22px;
  color: grey;
  font-weight: 400;
}

.update-button {
  padding: 8px 16px;
  border: none;
  background-color: #2074d4;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #185dbf;
}
.content-container{
  border: 1px solid #d5d5d5;
  height: 100%;
  border-radius: 8px;
  padding: 30px;
}
.heading-container {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
}

.underline-grey {
  flex-grow: 1;
  margin-top: 5px;
  height: 2px;
  border-radius: 25px;
  width: 122px;
  background-color: grey
}
.Culture-inputbox-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
  gap: 2rem;
}
.Culture-inputbox-list li{
position: relative;
}
.Culture-inputbox-listli {
  flex: 0 0 60px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.Culture-inputbox-list li label{
  
  position: absolute;
color: grey;
  top: -7px;
  z-index: 1;
  left: 35px;
  font-size: 12px;
  background-color: white;
  padding: 0 5px;
  
}

.Culture-inputbox-list input{
  width: 100%;
  padding: 10px;
  position: relative;
  border-radius: 25px;
  border: 2px solid grey;
}

.Culture-inputbox-list input[type="text"]::placeholder {
  text-transform: capitalize;
}
.radio-input-container {
  display: flex;
  align-items: center;
}

.radio-button-group {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust the value as needed */
}

.radio-button-group input[type="radio"] {
  margin-right: 4px; /* Adjust the spacing between the radio buttons and labels */
}
.radio-input-container{
  gap: 30px;
}
.salary-list{
  flex-direction: column;
}
.Salary-inputbox-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
  gap: 2rem;
}

.Salary-inputbox-listli {
  flex: 0 0 60px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.Salary-inputbox-list input[type="text"],.Salary-inputbox-list input[type="file"] {
 
  padding: 10px;
  border-radius: 25px;
  border: 2px solid grey;
}

.Salary-list input[type="text"]::placeholder {
  text-transform: capitalize;
}
.Salary-inputbox-list .component-box{
position: relative;
}
.Salary-inputbox-list .component-box input{
  position: relative;
  
}
.Salary-inputbox-list .component-box label{
  
  position: absolute;
color: grey;
  top: -7px;
  z-index: 1;
  left: 35px;
  font-size: 12px;
  background-color: white;
  padding: 0 5px;
  
}
.salary-table {
 
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.salary-table label {
  font-weight: bold;
}
.salary-table input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid grey;
}
.salary-table input[type="radio"]
{
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 0.5rem;
}

.salary-table td {
  padding: 8px;
}
.company-profile-list{
  display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
    gap: 2rem;
}
.company-profile-list input{
  width: 100%;
    padding: 10px;
    
    border-radius: 25px;
    border: 2px solid grey;
}
.supervisor-inputbox-list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
  gap: 2rem;
}
.supervisor-inputbox-list input{
  width: 100%;
  padding: 10px;
  
  border-radius: 25px;
  border: 2px solid grey;
}


@media (max-width: 980px) {
  .salary-table td {
    display: block;
  }

  .salary-table td:first-child {
    margin-bottom: 0.5rem;
  }
}
.file-input-container {
  position: relative;
  display: inline-block;
}

.file-input {
  position: absolute;
  left: -9999px;
}

.file-input-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2074d4;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.file-input-label:hover {
  background-color: #185dbf;
}
.checkbox-input-container {
  display: flex;
  gap: 1rem;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

.checkbox-group .checkbox-label {
  opacity: 1;
  cursor: pointer;
}

.checkbox-group input[type="checkbox"]:checked + .checkbox-label {
  opacity: 0.6;
}

.checkbox-group input[type="checkbox"]:checked {
  opacity: 0.3;
  background-color: blue;
}

.checkbox-exclusion .checkbox-label {
  opacity: 1;
  cursor: pointer;
}



.checkbox-exclusion input[type="checkbox"]:checked {
  
  background-color: blue;
}
.exclusion-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

}

.exclusion-list li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
 padding: 20px;
}

.exclusion-list li > div {
  display: flex;
  flex-direction: column;
}

.delete-button {
  margin-left: 1rem;
}


.exclusion-list li > div span {
  margin-bottom: 0.5rem;
}
.merit-Bonus{
  background: grey;
  text-align: center;
  color: white;
  padding: 3px;
  border-radius: 25px;
}
.bg-white{
  background-color: white;
}
.delete-button{
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}