.top-nav-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  background-color: #fff;
  /* border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  z-index: 1;
}
.top-tab {
  display: flex;
  align-items: center;
  height: 80%;
  border-radius: 50px;
  background-color: aliceblue;
}
.top-tab-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  border-radius: 50px;
  cursor: pointer;
  height: 100%;
}
.top-tab-item.active{
    background-color: #1877d2;
    color: white;
}
.top-status{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.top-status-item{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.top-status-icon img{
    background-color: #1877d2;
    padding: 5px;
    border-radius: 50%;
}
.top-status-number{
    background-color:#1877d2;
    padding: 5px 10px;
    border-radius: 100%;
    color: #fff;
}
.top-status-item span{
    height: 3px;
    width: 60px;
    background-color: #1877d2;
}
.top-status-item span.active{
    height: 3px;
    width: 60px;
    background-color: rgb(90, 178, 255);
}
.top-status-number-three{
    background-color: #ffffff;
    border: 2px solid grey;
    padding: 5px 10px;
    border-radius: 100%;
    color: #000000;
}