/* Add your other styles here */

/* Styling for the custom modal */
.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Make sure the modal is on top of other content */
  }
  .usermodal-content button{
    padding: 8px 16px;
    border: none;
    background-color: #2074d4;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  .usermodal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Add any additional styling for inputs, labels, and buttons */
  .text-fields-row {
    display: flex;
    gap: 10px; /* Adjust the gap between text fields */
  }
  .text-fields-row input{
    padding: 5px;
    border-radius: 5px;
    border-color: grey;
  }

  .radio-row{
    display: flex;
    gap: 20px;
    margin: 10px;
  }
  .access-row{
    display: flex;
    gap: 30px;
    margin: 10px;
  }
  .access-row input,select{
  padding: 5px;
  border-radius: 5px;
  }

  .accesitem-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .access-tem{
    display: flex;
    align-items: center;
    padding: 1vw;
  }
  /* Add these styles to your usercreation.css or a separate CSS file */

/* Table styling */
.user-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  /* Input and select styling */
  .user-table input[type="text"],
  .user-table select {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Button styling */
  .user-table button {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  /* Separate buttons with a little spacing */
  .user-table button:last-child {
    margin-right: 0;
  }
  
  /* Apply different background color on hovering over a row */
  .user-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  